<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Tasks Manager</title>
    <link href="../../static/defined.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
    <link href="" rel="stylesheet"/>
  </head>
  <body>
    <h1>Task Manager </h1>
    <br/>
    {% block content %}

    {% endblock %}
    
  </body>
</html>
