{% extends 'activityLog/index.html' %}
{% block content %}
<table>
  <thead>
    <th>Sn.</th>
    <th>Activity</th>
    <th>state</th>
    <th>Description</th>
    <th>Remarks</th>
  </thead>
  {% for activity in activities %}
  <tbody>
    <td>{{ forloop.counter }}</td>
    <td><a class='name' href="{{ activity.id }}/edit">{{ activity.name }}</a></td>
    <td>{{ activity.done }}</td>
    <td>{{ activity.description }}</td>
    <td>{{ activity.remarks }}</td>
    <td><a href="{% url 'del' id=activity.id %}" class="addbtn">del</a></td>
  </tbody>
  {% empty %}
    <p>Sorry, no activities entry. Try adding some!</p>
  {% endfor %}
</table>
{% endblock %}
